
@media screen and (min-width: 901px){
  body {
    background-color: rgb(245, 245, 245);
  }
  .imagem img{
    width: 300px;
    height: auto;
    float:right;
    margin-right: 40px;
    display: inline-flex;
  }
  .text h1{
    font-size: 76px;
    margin-left: 70px;
    height: auto;
    color: #000000;
    display: block;
  }
  .text p{
    margin-top: 0px;
    font-size: 22px;
    margin-left: 70px;
    display: block;
  }

  h2 {
    margin-top: 0px;
    font-size: 26px;
    margin-left: 70px;
  }
  .text3 h3 {
    margin-top: 50px;
    font-size: 26px;
    display: contents;
    margin-left: 0px;
  }
  .text3 img{
    width: 40%;
    margin-left: 60px;
    height: auto;
    float:left;
  }
  .text3 p{
    font-size: 22px;
    margin-left: 70px; 
    margin-right: 40px; 
   }
  .text4 img{
    width: 35%;
    margin-right: 60px;
    height: auto;
    margin-top: 0%;
    float:right;
  }
  .text4 h3{
    margin-top: 250px;
    font-size: 26px;
    margin-left: 70px;
  }
  .text4 p{
    display: inline-flex;
    margin-top: 0px;
    font-size: 22px;
    margin-left: 70px; 
    width: 50%;
  }

  .text-hobbies img{
    width: 35%;
    height: auto;
    margin-left: 70px;
  }
  .text-hobbies h3{
    font-size: 26px;
    margin-left: 70px;
  }
  .text-hobbies p{
    display: inline-flex;
    font-size: 22px;
    margin-left: 70px; 
    width: 50%;
    float: right;
  }
  .text-curiosidades h3{
    margin-left: 70px; 
    display: inline-flex;
    margin-top: 150px;
    font-size: 26px;
  }
  .text-curiosidades li{
    font-size: 22px;
    margin-left: 70px;
  }
  .text-curiosidades img{
    width: 35%;
    margin-right: 70px;
    height: auto;
    float: right;
  }
  .list-comidas h3{
    margin-left:70px;
    margin-top: 150px;
    font-size: 26px;
  }
  .list-comidas ul, li{
    font-size: 22px;
    margin-left: 35px;
  }
  .list-musicas h3{
    margin-left: 70px;
    font-size: 26px;
  }
  .list-musicas li{
    color: #000000;
    margin-left: 70px;
    text-decoration: none;
  }
  .redes-sociais{
    margin-left: 70px;
    white-space: nowrap;
    float: left;
    padding: 5px;
    margin-top: 10px;
    width: 50px;
  }
  .redes h3{
    margin-left:70px;
    margin-top: 10px;
    font-size: 26px;
  }
  .redes-sociais2{
    margin-left: 70px;
    white-space: nowrap;
    float: left;
    padding: 0px;
    margin-top: 10px;
    width: 70px;
  }
}
@media screen and (max-width: 900px) {
  body {
    background-color: rgb(245, 245, 245);
  }
  
  .imagem img{
    width: 37%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  
  .text h1{
    font-size: 32px;
    text-align: center;
    margin-top: 30px;
  }
  
  .text p{
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
  }
  
  h2 {
    margin-top: 30px;
    font-size: 22px;
    text-align: center;
  }
  
  h3 {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
  }
  
  .text3 img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
  }
  
  .text3 p{
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
  }
  
  .text4 img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
  }
  .text4 h3{
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
  }
  .text4 p{
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
  }
  .text-hobbies img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
  }
  .text-hobbies h3{
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
  }
  .text-hobbies p{
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
  }
  .text-curiosidades h3{
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
  }
  .text-curiosidades ul, li{
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
  }
  .text-curiosidades img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
  }

  .redes-sociais{
    margin-left: 70px;
    white-space: nowrap;
    float: left;
    padding: 5px;
    margin-left: 70px;
    width: 50px;
  }
  .redes-sociais2{
    margin-left: 70px;
    white-space: nowrap;
    float: left;
    padding: 0px;
    margin: 0px;
    width: 70px;
  }
}
